
@{
    ViewBag.Title = "Cannabis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!--Web css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />




    <script src="~/js/jquery.min.js"></script>
    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .body, html {
            overflow-x: hidden;
        }

        #div1 {
            font-size: 24px;
            color: #495057;
        }
    </style>



</head>

<body>

    <br />
    <div class="img" style="text-align: center;">

        <img src="~/IMG/GetHelp/Cannabis/CC1.jpg" />
    </div>
    <br /><br />
    <br /><br />

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <p class="lead" style="text-align:justify;">
                    Cannabis is the most widely used illicit drug in Australia. Recent use is expected to rise during the COVID-19 period. For those people from 14 and above as more statistically raise from 2016 to 2019.
                </p>

            </div>
            <div class="col-lg-5 offset-lg-0 p-0 ">
                <div style="text-align:center">
                    <iframe height="400" width="100%" frameborder="0" src="~/Cannabis.html"> </iframe>
                </div>
                @*<img src="~/IMG/GetHelp/Cannabis/Cannabis_Hero.jpeg" class="img-fluid" />*@

            </div>
        </div>
    </div>

    <br /><br />
    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" style=" font-size: 18px;">How cannabis affects your body</p>
    </div>
    <br /><br />
    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Brain</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Reduced motivation and energy
                            Impaired concentration, memory and learning
                            Heavy use can provoke mental health disorders including psychosis

                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Lung</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Smoking cannabis increases the risk of respiratory illness such as sore throat, asthma, bronchitis and lung cancer

                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Heart</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Increased risk of heart attack

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </section>
    <br /><br /><br />

    <section>
        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Immune System</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            May impair immune system functioning

                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Mouth.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1 class="text-white fs-5" style="margin:20px; margin-top:20px">Mouth</h1>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Smoking cannabis increases the risk of mouth, throat and lip cancer

                        </p>
                    </div>
                </div>
            </div>



        </div>
        <br /><br /><br />
    </section>

    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cannabis/Cannabis_Article1.png"></a>
                    <h3 class="name"><strong>What is Cannabis?</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        Cannabis is a cannabinoid drug. The number of different cannabinoids in the cannabis sativa plant is still being researched, but it primarily contains the psychoactive cannabinoid THC (delta9 tetrahydrocannabinol) and the non-psychoactive cannabidiol (CBD).1 It’s most commonly known as marijuana. Other names Marijuana, yarndi, pot, weed, hash, dope, gunja, joint, stick, chronic, cone, choof, mull, 420, dabs, dabbing, BHO.
                    </p>
                    </br>

                    <a href="https://adf.org.au/drug-facts/cannabis/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>

                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">


                    <a href="#"><img class="img-fluid" height="250px" width="250px" src="~/IMG/GetHelp/Cannabis/C2.jpeg "></a>
                    <h3 class="name"><strong>Cannabis Addiction Treatment</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                        Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                    </p>
                    </br>

                    <a href="https://haderclinicqld.com.au/cannabis-addiction-treatment/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cannabis/C3.jpeg"></a>
                    <h3 class="name"><strong>Cannabis use spiked, but methamphetamine use plunged in Australia during COVID-19 lockdown</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        Wastewater samples taken during 2020 show that methamphetamine (ice) use plunged in Australia during the first COVID-19 lockdown while cannabis use spiked, according to a new study led by the University of South Australia.

                        Western Australia recorded the largest drop in ice loads, falling more than 50 per cent between April and June 2020.

                    </p>
                    </br>
                    <a href="https://www.news-medical.net/news/20210818/Cannabis-use-spiked-but-methamphetamine-use-plunged-in-Australia-during-COVID-19-lockdown.aspx" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="Ecstasy">2</a></li>
            <li><a href="Heroin">3</a></li>
            <li><a href="Meth">4</a></li>
            <li><a href="Cocaine">5</a></li>
        </ul>
    </div>

    <ul id=menu>
        <a href="Ecstasy"><h1>>>></h1></a>
    </ul>

    <style>
        #menu {
            position: fixed;
            right: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }
    </style>

    @*<section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

        </section>*@

    <script>
        function brakechain() {
            var a;
            a = document.getElementById("div1");
            a.innerHTML = "&#xf0c1;";
            setTimeout(function () {
                a.innerHTML = "&#xf127;";
            }, 1000);
        }
        brakechain();
        setInterval(brakechain, 2000);
    </script>



    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://kit.fontawesome.com/b7de0e99e2.js" crossorigin="anonymous"></script>



</body>
</html>


