
@{
    ViewBag.Title = "Cannabis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />





    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />





</head>

<body>
    <div class="img" style="text-align: center;" >

       <img src="~/IMG/GetHelp/Cannabis/1.jpg" />
    </div>
    <br /><br />
    <br /><br />


    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" style=" font-size: 18px;">How cannabis affects your body</p>
    </div>
    <br /><br />
    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Brain</h3>
                            <p class="fs-6 text-white">
                                Reduced motivation and energy
                                Impaired concentration, memory and learning
                                Heavy use can provoke mental health disorders including psychosis

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Lungs</h3>
                            <p class="fs-6 text-white">Smoking cannabis increases the risk of respiratory illness such as sore throat, asthma, bronchitis and lung cancer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="body">
                    <div class="imgContainer">

                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Heart</h3>
                            <p class="fs-6 text-white">Increased risk of heart attack</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </section>

    <section>


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Immune System</h3>
                            <p class="fs-6 text-white">May impair immune system functioning</p>
                        </div>
                        <
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Mouth.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Mouth</h3>
                            <p class="fs-6 text-white">Smoking cannabis increases the risk of mouth, throat and lip cancer</p>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br /><br />
    </section>

    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cannabis/Cannabis_Article1.png"></a>
                    <h3 class="name"><strong>What is Cannabis?</strong></h3>
                    <p class="description" style="text-align: left;margin: 30px 12px 0px;">
                        Cannabis is a cannabinoid drug. The number of different cannabinoids in the cannabis sativa plant is still being researched, but it primarily contains the psychoactive cannabinoid THC (delta9 tetrahydrocannabinol) and the non-psychoactive cannabidiol (CBD).1 It’s most commonly known as marijuana. Other names Marijuana, yarndi, pot, weed, hash, dope, gunja, joint, stick, chronic, cone, choof, mull, 420, dabs, dabbing, BHO.
                    </p>
                    </br>
                    <a href="https://adf.org.au/drug-facts/cannabis/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>

                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cannabis/C2.jpeg "></a>
                    <h3 class="name" ><strong>Cannabis Addiction Treatment</strong></h3>
                    <p class="description" style="text-align: left;margin: 30px 12px 0px;">
                        Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                        Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                    </p>
                    </br>
                    <a href="https://haderclinicqld.com.au/cannabis-addiction-treatment/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cannabis/C3.jpeg"></a>
                    <h3 class="name" ><strong>Cannabis use spiked, but methamphetamine use plunged in Australia during COVID-19 lockdown</strong></h3>
                    <p class="description" style="text-align: left;margin: 30px 12px 0px; ">
                        Wastewater samples taken during 2020 show that methamphetamine (ice) use plunged in Australia during the first COVID-19 lockdown while cannabis use spiked, according to a new study led by the University of South Australia.

                        Western Australia recorded the largest drop in ice loads, falling more than 50 per cent between April and June 2020.

                    </p>
                    </br>
                    <a href="https://www.news-medical.net/news/20210818/Cannabis-use-spiked-but-methamphetamine-use-plunged-in-Australia-during-COVID-19-lockdown.aspx" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>



    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



</body>
</html>
