
@{
    ViewBag.Title = "Cocaine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!--Web css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />





    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .body, html {
            overflow-x: hidden;
        }

        #div1 {
            font-size: 24px;
            color: #495057;
        }
    </style>



</head>

<body>

    <br />
    <div class="img" style="text-align: center;">

        <img src="~/IMG/GetHelp/Cocaine/5 (2).jpg" />
    </div>
    <br /><br />
    <br /><br />

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <p class="lead" style="text-align:justify;">
                    Cannabis is the most widely used illicit drug in Australia. Recent use is expected to rise during the COVID-19 period. For those people from 14 and above as more statistically raise from 2016 to 2019.
                </p>

            </div>
            <div class="col-lg-5 offset-lg-0 p-0 ">
                <div style="text-align:center">
                    <iframe height="400" width="100%" frameborder="0" src="~/Cannabis.html"> </iframe>
                </div>
                @*<img src="~/IMG/GetHelp/Cannabis/Cannabis_Hero.jpeg" class="img-fluid" />*@

            </div>
        </div>
    </div>

    <br /><br />
    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" style=" font-size: 18px;">How cocaine affects your body</p>
    </div>
    <br /><br />

    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">
        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Brain</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Anxiety,
                                Paranoia,
                                Hallucinations and delirium,
                                Large pupils,
                                Loss of consciousness,
                                Fitting/Seizures,
                                Irritability, fatigue, difficulty concentrating, low mood (in the days after use)

                            </p>*@

                        <h2 class="text-white fs-5">Brain</h2>
                        <p class="fs-6 text-white">
                            Impaired memory and learning.
                            Hallucinations.
                            Anxiety, agitation and panic.
                            Depression.
                            Dependence.
                            Sleep disorders.
                            Paranoia.
                            Unpredictable violent / aggressive behaviour.
                            Sexual dysfunction.
                            Eating disorders and weight loss.
                            Seizures.
                            Strokes.

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Immune System</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                May impair immune system functioning

                            </p>*@

                        <h2 class="text-white fs-5">Immune System</h2>
                        <p class="fs-6 text-white">
                            Increased risk of infection
                            Risk of hepatitis, tetanus and HIV (if injecting cocaine)
                        </p>

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Mouth.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Mouth</h2>
                                <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Teeth grinding,
                                Jaw clenching

                            </p>*@

                        <h2 class="text-white fs-5">Mouth</h2>
                        <p class="fs-6 text-white">Smoking cannabis increases the risk of mouth, throat and lip cancer</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Heart</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Rapid heart beat

                            </p>*@

                        <h2 class="text-white fs-5">Heart</h2>
                        <p class="fs-6 text-white">
                            Heart attacks. Abnormal heart rhythm that can lead to cardiac arrest.
                        </p>

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Body</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Muscle aches and pains,
                                Increased body temperature (hyperthermia),
                                Heat stroke,
                                Dehydration,
                                Drinking excessive amounts of water (can lead to coma and death),
                                Vomiting

                            </p>*@

                        <h2 class="text-white fs-5">Lungs</h2>
                        <p class="fs-6 text-white">Smoking freebase cocaine (crack) can cause breathing difficulties, a long-term cough, chest pain and lung damage.</p>

                    </div>
                </div>
            </div>

        </div>

        <br /><br /><br />
    </section>

    <!--<section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Brain</h3>
                            <p class="fs-6 text-white">
                                Impaired memory and learning.
                                Hallucinations.
                                Anxiety, agitation and panic.
                                Depression.
                                Dependence.
                                Sleep disorders.
                                Paranoia.
                                Unpredictable violent / aggressive behaviour.
                                Sexual dysfunction.
                                Eating disorders and weight loss.
                                Seizures.
                                Strokes.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Lungs</h3>
                            <p class="fs-6 text-white">Smoking freebase cocaine (crack) can cause breathing difficulties, a long-term cough, chest pain and lung damage.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="body">
                    <div class="imgContainer">

                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Heart</h3>
                            <p class="fs-6 text-white">
                                Heart attacks. Abnormal heart rhythm that can lead to cardiac arrest.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </section>

    <section>


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="box">
                <div class="body">
                    <div class="imgContainer">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" />
                    </div>
                    <div class="content d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <h3 class="text-white fs-5">Immune System</h3>
                            <p class="fs-6 text-white">
                                Increased risk of infection
                                Risk of hepatitis, tetanus and HIV (if injecting cocaine)
                            </p>
                        </div>
                        <
                    </div>
                </div>
            </div>-->
    @*<div class="box">
            <div class="body">
                <div class="imgContainer">
                    <img src="~/IMG/GetHelp/Symptoms/Mouth.png" />
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h3 class="text-white fs-5">Mouth</h3>
                        <p class="fs-6 text-white">Smoking cannabis increases the risk of mouth, throat and lip cancer</p>
                    </div>
                </div>
            </div>
        </div>*@

    <!--<br /><br /><br />
    </section>-->

    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cocaine/1.jpg"></a>

                    <h3 class="name"><strong>Australia the highest per capita cocaine user in the world</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        A major investigation has blown the lid on Australia’s cocaine war, revealing that quantities of the drug are hitting our shores at unprecedented levels and the shocking truth at the heart of our nation’s crisis.

                        A Sky News Australia special, Australia’s Cocaine Crisis, has examined the extraordinary lengths that the kingpins of our nation’s cocaine trade go to to smuggle huge quantities of the substance onto our shores — and how the so-called “party drug” has come to impact every level of society.
                    </p>
                    </br>
                    @*<div id="div1" class="fa"></div>*@

                    <a href="https://www.news.com.au/national/australia-the-highest-per-capita-cocaine-user-in-the-world/news-story/c91869d4e2b2adeef266917d82f705e0" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>

                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">


                    <a href="#"><img class="img-fluid" height="250px" width="250px" src="~/IMG/GetHelp/Cocaine/2.jpg "></a>
                    <h3 class="name"><strong>Could Cocaine Be The New ‘Ice’ in Australia? It Seems Unlikely!</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        The latest National Drug Strategy Household Survey has found Australians are using cocaine much more than a decade ago.

                        The 2019 survey found that the proportion of Australians who have recently used cocaine in the past 12 months is 4.2%. That’s a 70% increase from 2016 when it was just 2.5%, and more than 200% on 2001 when it was 1.3%.

                        Use has increased in all adult age groups in the survey. The proportion of men in their 20s who had recently used almost doubled
                    </p>
                    </br>

                    <a href="https://360edge.com.au/could-cocaine-be-the-new-ice/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Cocaine/3.jpg"></a>
                    <h3 class="name"><strong>Sydney and cocaine: an illicit love affair for the ages</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        It was getting late at the work drinks when the boss emerged bearing a tray loaded with cocaine.

                        For the Sydney-based young professionals working at the relatively well-known company, relaxing together after a hard week, it was nothing out of the ordinary.Another corporate worker, based in the CBD, likes to text his cocaine dealer to arrange a quick delivery. His guy will show up promptly, pick him up for a short drive, and hand over the drug.

                        Sydney loves cocaine. For years, the city has demonstrated a remarkable

                    </p>
                    </br>
                    <a href="https://www.smh.com.au/national/nsw/sydney-and-cocaine-an-illicit-love-affair-for-the-ages-20210225-p575uz.html" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="Cannabis">1</a></li>
            <li><a href="Ecstasy">2</a></li>
            <li><a href="Heroin">3</a></li>
            <li><a href="Meth">4</a></li>
            <li class="active"><a href="#">5</a></li>
        </ul>
    </div>

    <ul id=menu2>
        <a href="Meth"><h1><<<</h1></a>
    </ul>

    <style>
        #menu {
            position: fixed;
            right: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }

        #menu2 {
            position: fixed;
            left: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }
    </style>

    @*<section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

        </section>*@

    <script>
        function brakechain() {
            var a;
            a = document.getElementById("div1");
            a.innerHTML = "&#xf0c1;";
            setTimeout(function () {
                a.innerHTML = "&#xf127;";
            }, 1000);
        }
        brakechain();
        setInterval(brakechain, 2000);
    </script>



    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



</body>
</html>