
@{
    ViewBag.Title = "Ecstasy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!--Web css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />





    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />


    <style>
        .body, html {
            overflow-x: hidden;
        }
    </style>


</head>

<body>
    <br />
    <div class="img" style="text-align: center;">


        <img src="~/IMG/GetHelp/Ecstasy/CE3.jpg" />
    </div>
    <br /><br />
    <br /><br />
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <p class="lead" style="text-align:justify;">
                    Ecstasy, or MDMA is a class of drugs with psychoactive and stimulant effects. Its market is highly dynamic, with fluctuations in types of categories. In 2019, around 3.6% of the general population reported using ecstasy.

                </p>

            </div>
            <div class="col-lg-5 offset-lg-0 p-0 ">
                <div style="text-align:center">
                    <iframe height="400" width="100%" frameborder="0" src="~/Ecstasy.html"> </iframe>
                </div>

            </div>
        </div>
    </div>

    <br /><br />



    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" style=" font-size: 18px;">How ecstasy affects your body</p>
    </div>
    <br /><br />






    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">
        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Brain</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Anxiety,
                            Paranoia,
                            Hallucinations and delirium,
                            Large pupils,
                            Loss of consciousness,
                            Fitting/Seizures,
                            Irritability, fatigue, difficulty concentrating, low mood (in the days after use)

                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Mouth.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Mouth</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Teeth grinding,
                            Jaw clenching

                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Heart</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Rapid heart beat

                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Body.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Body</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Muscle aches and pains,
                            Increased body temperature (hyperthermia),
                            Heat stroke,
                            Dehydration,
                            Drinking excessive amounts of water (can lead to coma and death),
                            Vomiting

                        </p>
                    </div>
                </div>
            </div>

        </div>

        <br /><br /><br />
    </section>





    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Ecstasy/E1.jpeg "></a>
                    <h3 class="name"><strong>What are “Party Drugs”/MDMA/Ecstasy?</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        In Australia, MDMA/Ecstasy are also known as E, pills, caps, pingers, M&M, doopa, love drug, disco biscuits, XTC, X and eccy.

                        "Party Drugs" is a term used to describe a range of illegal drugs sold as tablets (“pills”) or capsules (“caps”). Ecstasy is the common name for a drug called MDMA, which is usually sold as a pill or capsule, although it can also come in powder or crystal form. When sold as a pill, a logo is typically stamped on the tablet, but this is no guarantee of quality or purity.
                    </p>
                    </br>
                    <a href="https://positivechoices.org.au/teachers/ecstasy-and-mdma-factsheet" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Ecstasy/E2.jpeg "></a>
                    <h3 class="name"><strong>Ecstasy use in Australia, a world high</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify; ">
                        The world’s first comprehensive report on global addictions has revealed that Australia is one of the top users of ecstasy and cocaine.

                        Australia is the leading user of ecstasy, with 3% of the population taking the drug at least once per year, compared with 1% of Brits and Americans. The world leader in cocaine use is Scotland, where 2.4% of the population uses it each year, but Australia is not far behind, with 2.1% of the population dabbling in cocaine at least once per year.
                    </p>
                    </br>
                    <a href="https://www.mydr.com.au/addictions/ecstasy-use-in-australia-a-world-high/" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>

                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Ecstasy//E3.jpeg "></a>
                    <h3 class="name"><strong>Ecstasy on the barbie: Australia seizes more than half a tonne of drugs smuggled in barbecues</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify; ">
                        In a statement on Tuesday, the Australian Border Force (ABF) said it had charged a 30-year-old man from Queensland and a 33-year-old Canadian national over their involvement in the criminal enterprise. At well over half a tonne, the haul of MDMA, commonly known as ecstasy, is the biggest shipment by weight seized in Australia this year.

                    </p>
                    </br>
                    </br>
                    <a href="https://www.reuters.com/article/us-australia-drugs-idUSKBN1YL0B1" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="Cannabis">1</a></li>
            <li class="active"><a href=#>2</a></li>
            <li><a href="Heroin">3</a></li>
            <li><a href="Meth">4</a></li>
            <li><a href="Cocaine">5</a></li>
        </ul>
    </div>

    <ul id=menu>
        <a href="Heroin"><h1>>>></h1></a>
    </ul>

    <ul id=menu2>
        <a href="Cannabis"><h1><<<</h1></a>
    </ul>

    <style>
        #menu {
            position: fixed;
            right: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }

        #menu2 {
            position: fixed;
            left: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }
    </style>


    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>




</body>


</html>


