
@{
    ViewBag.Title = "GetHelp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">

  



</head>
<body>

    <!-- ======= Header Section ======= -->
    <div style="text-align: center;">
        <img class="img-fluid" src="~/IMG/GetHelp.jpg" style="width: 50%">
    </div>
    <!-- End of Header -->
    <br />

    <!-- ======= Help Section ======= -->

    <section style="margin: 0px;margin-top: 150px; " id="helpsection">
        <div class="container">
            <div>
                <h1 class="text-center" style="font-size: 38px;">Explore Our Help</h1>
            </div>
        </div>
    </section>

    <br />
    <div style="margin: auto; width: 60% " class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">

            <div class="card h-100" style="background-color: #FFEE99; ">
                <div class="card-body" data-bss-hover-animate="bounce">
                    <h5 class="card-title">Cannabis</h5>
                    <p class="card-text" style="text-align: justify;"> Cannabis is the most commonly used illegal drug in Australia.It is made from the dried flowering heads and leaves of a plant called cannabis sativa.</p>
                    <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Cannabis">Know More</a>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="background-color: #FFEE99;">
                <div class="card-body">
                    <h5 class="card-title">Ecstasy(MDMA)</h5>
                    <p class="card-text" tyle="text-align: justify;">Ecstasy is a drug made from different chemicals.It can contain both amphetamines and some hallucinogens(Imaginary Figures).</p>
                    <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Ecstasy">Know More</a>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="background-color: #FFEE99;">
                <div class="card-body">
                    <h5 class="card-title">Heroin</h5>
                    <p class="card-text" style="text-align: justify;">Heroin is a drug that comes from the opium poppy and is in the class of drugs called depressants, because it slows down the brain. </p>
                    <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Heroin">Know More</a>

                </div>

            </div>
        </div>
    </div>

    <!-- End of Help section -->



</body>
</html>