
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/css/Feature-box.css" rel="stylesheet" />


    <style>
        .body, html {
            overflow-x: hidden;
        }
    </style>



</head>
<body>

    <!-- ======= Header Section ======= -->
    <div style="text-align:center;">
        <img class="img-fluid" src="~/IMG/GetHelp/Explore_cover.jpg" style="margin-right: 7px;  ">
    </div>
    <!-- End of Header -->
    </br>

    <!-- ======= Help Section ======= -->
    @*<section style="margin: 0px;margin-top: 150px; " id="helpsection">
            <div class="container">
                <div>
                    <h1 class="text-center" style="font-size: 38px;">Explore Our Help</h1>
                </div>
            </div>
        </section>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100" style="background-color: #FFEE99;">
                    <div class="card-body" data-bss-hover-animate="bounce">
                        <h5 class="card-title">Cannabis</h5>
                        <p class="card-text" style="text-align: justify;"> Cannabis is the most commonly used illegal drug in Australia.It is made from the dried flowering heads and leaves of a plant called cannabis sativa.</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Cannabis">Know More</a>

                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color: #FFEE99;">
                    <div class="card-body">
                        <h5 class="card-title">Ecstasy(MDMA)</h5>
                        <p class="card-text" tyle="text-align: justify;">Ecstasy is a drug made from different chemicals.It can contain both amphetamines and some hallucinogens(Imaginary Figures).</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Ecstasy">Know More</a>

                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="background-color: #FFEE99;">
                    <div class="card-body">
                        <h5 class="card-title">Heroin</h5>
                        <p class="card-text" style="text-align: justify;">Heroin is a drug that comes from the opium poppy and is in the class of drugs called depressants, because it slows down the brain. </p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Heroin">Know More</a>

                    </div>

                </div>
            </div>
        </div>*@

    <section id="helpsection" class="features-boxed" style="background-color:white;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 38px;"><b>Explore about the drugs</b></h2>
            </div>

            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="shadow box" style=" background-color: #FFEE99;">
                        <h4 class="card-title"><b>Cannabis</b></h4>
                        <p class="card-text" style="text-align: justify;"> Cannabis is the most commonly used illegal drug in Australia.It is made from the dried flowering heads and leaves of a plant called cannabis sativa.</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Cannabis">Know More</a>
                    </div>
                </div>




                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: #FFEE99;">
                        <h4 class="card-title"><b>Ecstasy(MDMA)</b></h4>
                        <p class="card-text" tyle="text-align: justify;">Ecstasy is a drug made from different chemicals.It can contain both amphetamines and some hallucinogens(Imaginary Figures).</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Ecstasy">Know More</a>
                    </div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: #FFEE99;">
                        <h4 class="card-title"><b>Heroin</b></h4>
                        <p class="card-text" style="text-align: justify;">Heroin is a drug that comes from the opium poppy and is in the class of drugs called depressants, because it slows down the brain. </p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Heroin">Know More</a>
                    </div>

                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item"></div>
            </div>

            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="shadow box" style=" background-color: #FFEE99;">
                        <h4 class="card-title"><b>Meth</b></h4>
                        <p class="card-text" style="text-align: justify;">Meth is a central nervous system stimulant that used as a recreational drug and second-line treatment for attention deficit hyperactivity disorder.</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Meth">Know More</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: #FFEE99;">
                        <h4 class="card-title"><b>Cocaine</b></h4>
                        <p class="card-text" tyle="text-align: justify;">Cocaine is a stimulant drug obtained primarily from the leaves of two coca species. It is used as a recreational drug and euphoriant.</p>
                        <a class="btn btn-primary" type="button" style=" background: #212529; border-color: rgba(255,255,255,0)" href="/GetHelp/Cocaine">Know More</a>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <!-- End of Help section -->

    <br />
    <br />

    <section>
        <div class="container">
            <div>
                <h1 class="text-center" style="font-size: 38px;"><b>Latest News Articles</b></h1>
            </div>
        </div>

        <br />
        <br />

        <div class="container" mt-5>
            @*Horizontal cards*@

            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/IMG/GetHelp/NA1.jpg" class="img-fluid" />

                    </div>

                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> More youth involved in drug abuse and sexual offences even as juvenile crime rate falls 43% </h2>
                        <p>A new report on youth delinquency has found that the number of young drug abusers rose by 10 per cent between 2016 and 2020, while sexual offences, such as outrage of modesty and rape, committed by youth rose by 49 per cent in the same period.</p>
                        <button class="btn btn-dark"><a target="_blank" href="https://www.straitstimes.com/singapore/more-youth-involved-in-drug-abuse-and-sexual-offences-even-as-juvenile-crime-rate-falls-43"> Read More</a></button>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/IMG/GetHelp/NA2.jpg" class="img-fluid" />
                    </div>

                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> Death of Michael K. Williams spotlights addiction as a problem anyone can have </h2>
                        <p>NASHVILLE, Tenn. (WTVF) — He played one of the most iconic characters on the hit HBO show The Wire, but now the loss of Michael K. Williams is bringing attention to how addiction can impact us all.Williams suffered an overdose early this week, after struggling with substance abuse for years. </p>
                        <button class="btn btn-dark"><a target="_blank" href="https://www.newschannel5.com/news/death-of-michael-k-williams-spotlights-addiction-as-a-problem-anyone-can-have"> Read More</a></button>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/IMG/GetHelp/NA3.jpg" class="img-fluid" />
                    </div>

                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> Stevie Nicks Says She “Saved” Herself From Cocaine Addiction: “I Survived Me” </h2>
                        <p>
                            Sevie Nicks says she only has herself to thank for overcoming her serious drug addiction. And while she’s proud to have survived it, she hasn’t let that period of her life completely define her.
                        </p>
                        <button class="btn btn-dark"><a target="_blank" href="https://www.vanityfair.com/style/2021/08/stevie-nicks-cocaine-addiction-recovery-memoir-tim-mcgraw-apple-music-beyond-the-influence-radio"> Read More</a></button>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/IMG/GetHelp/NA4.jpg" class="img-fluid" />
                    </div>

                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> Here’s How Drug Addiction Of An Individual Impacts The Whole Family</h2>
                        <p>
                            A battle with drug addiction is usually viewed as a personal experience but many forget that human beings are connected by relationships. The user is physically and mentally devastated but it does have its effects on the family too.

                        </p>
                        <button class="btn btn-dark"><a target="_blank" href="https://alexandrialivingmagazine.com/here%E2%80%99s-how-drug-addiction-of-an-individual-impacts-the-whole-family/"> Read More</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*---------------------------------------------------------------------------------------------------------------------------------------------------------------*@



</body>
</html>