
@{
    ViewBag.Title = "Heroin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!--Web css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />





    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />


    <style>
        .body, html {
            overflow-x: hidden;
        }
    </style>


</head>

<body>

    <br />

    <div class="img" style="text-align: center;">

        <img src="~/IMG/GetHelp/Heroin/CH2.jpg" />
    </div>
    <br /><br />
    <br /><br />
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <p class="lead" style="text-align:justify;">
                    The information shows age of initiation of lifetime illicit use of drugs for people aged 14 and over, 2001 to 2019. The number of and weight of heroin seizures at the Australian border have increased over the past 10 years. We can see significant change between 2016 and 2019. 
                </p>

            </div>
            <div class="col-lg-5 offset-lg-0 p-0 ">
                <div style="text-align:center">
                    <iframe height="400" width="100%" frameborder="0" src="~/Heroin.html"> </iframe>
                </div>

            </div>
        </div>
    </div>

    <br /><br />
    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" font-size: 18px;">How heroin affects your body</p>
    </div>
    <br /><br />







    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Brain.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Brain</h3>
                                <p class="fs-6 text-white">
                                    Impaired memory and learning
                                    Increased risk of overdose
                                    Dependance
                                    Withdrawal cravings including: depression, anxiety, insomnia, agitation
                                    Coma and / or death from overdose


                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Brain</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Impaired memory and learning
                            Increased risk of overdose
                            Dependance
                            Withdrawal cravings including: depression, anxiety, insomnia, agitation
                            Coma and / or death from overdose

                        </p>
                    </div>
                </div>
            </div>

            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Lungs.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Lungs</h3>
                                <p class="fs-6 text-white">Pneumonia (lung disease)</p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Lungs</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Pneumonia (lung disease)

                        </p>
                    </div>
                </div>
            </div>

            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">

                            <img src="~/IMG/GetHelp/Symptoms/Heart.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Heart</h3>
                                <p class="fs-6 text-white">Heart damage</p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Heart</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Heart damage

                        </p>
                    </div>
                </div>
            </div>

        </div>
        <br /><br /><br />
    </section>

    <section>


        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Immune System</h3>
                                <p class="fs-6 text-white">
                                    Increased risk of infection,
                                    Risk of hepatitis, tetanus and HIV
                                </p>
                            </div>
                            <
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Immune System</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Increased risk of infection,
                            Risk of hepatitis, tetanus and HIV

                        </p>
                    </div>
                </div>
            </div>

            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Stomach.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Stomach</h3>
                                <p class="fs-6 text-white">
                                    Nausea and vomiting,
                                    Chronic constipation,
                                    Loss of appetite leading to poor diet and health
                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Stomach.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Stomach</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Nausea and vomiting,
                            Chronic constipation,
                            Loss of appetite leading to poor diet and health

                        </p>
                    </div>
                </div>
            </div>

            @*<div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Body.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Injecting of heroin into body can lead to:</h3>
                                <p class="fs-6 text-white">
                                    Collapsed veins
                                    Blocked blood vessels caused by the additives and impurities.<br />
                                    Skin infections and abscesses caused by injecting on the same site.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Body.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Body</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Collapsed veins
                            Blocked blood vessels caused by the additives and impurities.<br />
                            Skin infections and abscesses caused by injecting on the same site.

                        </p>
                    </div>
                </div>
            </div>

        </div>

        <br /><br /><br />
    </section>
    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Heroin/H1.jpeg"></a>
                    <h3 class="name"><strong>Alternative Treatments for Heroin Addiction</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        The proposed trial of prescription heroin in the ACT did not proceed following its rejection by Federal Cabinet in August 1997. Much has occurred in the intervening period as the pressure has built on different players (particularly governments) to fill the void. For example, the Commonwealth Government has announced that the next stage of the National Drug Strategy, 1998-2002, will have as its main focus a National Illicit Drugs Strategy. In addition, most States and Territories have commenced trials of various treatments for heroin addiction such as naltrexone and New South Wales has announced that it is to introduce a United States' concept, the 'drug court'.
                    </p>
                    </br>
                    <a href="https://www.aph.gov.au/About_Parliament/Parliamentary_Departments/Parliamentary_Library/Publications_Archive/CIB/cib9899/99CIB03" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Heroin/H2.jpeg"></a>
                    <h3 class="name"><strong>Heroin: client demographics and treatment</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify; ">
                        In 2019–20, heroin was reported as a drug of concern in 7% of all closed treatment episodes, either as a principal or additional drug of concern:
                        heroin was the 4th most common principal drug of concern (5% or 11,133 episodes)
                        the most common additional drugs of concern reported with heroin include amphetamines (30%) or cannabis (18%) but these drugs are not the subject of any treatment within the episode.
                        Heroin use and harms: Heroin is an opioid drug; opioids are strong pain-killers with addictive properties. Short-term side effects of use include pain relief and feelings of euphoria and wellbeing, while long‑term effects can include lowered sex drive and infertility (for women), along with risk of overdose, coma and death (ADCA 2013).

                    </p>
                    </br>
                    <a href="https://www.aihw.gov.au/reports/alcohol-other-drug-treatment-services/alcohol-other-drug-treatment-services-australia/contents/drugs-of-concern/heroin" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" height="250px" width="250px" src="~/IMG/GetHelp/Heroin/H3 (2).jpeg"></a>
                    <h3 class="name"><strong>Estimating the number of heroin users in Australia</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        Estimating the prevalence of drug use is one of the key focal areas of alcohol and drug epidemiology. Estimation of the extent of alcohol and drug use in the Australian community has primarily been undertaken using surveys of the general population. Nevertheless, it is widely understood that prevalence estimates derived from general population surveys underestimate the true extent of drug use in the community for drugs of low use prevalence (e.g. heroin) because of issues around sampling (e.g. response rates and the extent to which crucial samples such as the homeless are missed in household surveys) and the truthfulness of responses to questions concerning illegal or hidden behaviours.
                    </p>
                    </br>
                    <a href="https://ndarc.med.unsw.edu.au/resource/bulletin-no-05-estimating-number-heroin-users-australia" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="Cannabis">1</a></li>
            <li><a href="Ecstasy">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="Meth">4</a></li>
            <li><a href="Cocaine">5</a></li>
        </ul>
    </div>

    <ul id=menu>
        <a href="Meth"><h1>>>></h1></a>
    </ul>

    <ul id=menu2>
        <a href="Ecstasy"><h1><<<</h1></a>
    </ul>

    <style>
        #menu {
            position: fixed;
            right: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }

        #menu2 {
            position: fixed;
            left: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }
    </style>



    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



</body>
</html>


