
@{
    ViewBag.Title = "Meth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!--Web css and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/GetHelp/Articles.css" rel="stylesheet" />





    <link href="~/Content/BootstrapFiles/GetHelp/FlipCard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .body, html {
            overflow-x: hidden;
        }

        #div1 {
            font-size: 24px;
            color: #495057;
        }
    </style>



</head>

<body>

    <br />
    <div class="img" style="text-align: center;">


        <img src="~/IMG/GetHelp/Meth/4 (2).jpg" />
    </div>
    <br /><br />
    <br /><br />

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <p class="lead" style="text-align:justify;">
                    Cannabis is the most widely used illicit drug in Australia. Recent use is expected to rise during the COVID-19 period. For those people from 14 and above as more statistically raise from 2016 to 2019.
                </p>

            </div>
            <div class="col-lg-5 offset-lg-0 p-0 ">
                <div style="text-align:center">
                    <iframe height="400" width="100%" frameborder="0" src="~/Cannabis.html"> </iframe>
                </div>
                @*<img src="~/IMG/GetHelp/Cannabis/Cannabis_Hero.jpeg" class="img-fluid" />*@

            </div>
        </div>
    </div>

    <br /><br />
    <div class="intro">
        <h2 class="text-center"><strong>Symptoms </strong></h2>
        <br />
        <p class="text-center" style=" font-size: 18px;">How Meth affects your body</p>
    </div>
    <br /><br />

    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Brain.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Brain</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Reduced motivation and energy
                                Impaired concentration, memory and learning
                                Heavy use can provoke mental health disorders including psychosis

                            </p>*@

                        <h2 class="text-white fs-5">Brain</h2>
                        <p class="fs-6 text-white">
                            Decreased concentration and memory loss.
                            Increased risk of dependence.
                            Chronic sleeping problems.
                            Anxiety and depression.
                            Paranoia or hallucinations.
                            Decreased motivation and ability to maintain usual activities.
                            Agitation or aggression.


                        </p>

                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Lungs.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Lung</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Smoking cannabis increases the risk of respiratory illness such as sore throat, asthma, bronchitis and lung cancer

                            </p>*@

                        <h3 class="text-white fs-5">Lungs</h3>
                        <p class="fs-6 text-white">Smoking can damage the lungs</p>

                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Heart.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:0px">Heart</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Increased risk of heart attack

                            </p>*@

                        <h2 class="text-white fs-5">Heart</h2>
                        <p class="fs-6 text-white">
                            High blood pressure and rapid irregular heartbeat.
                            Increased risk of heart attack and heart failure.
                            Increased risk of stroke.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </section>
    <br /><br /><br />

    <section>
        <div class="container d-flex align-items-center justify-content-center flex-wrap">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h2 class="text-white fs-5" style="margin:20px; margin-top:20px">Immune System</h2>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                May impair immune system functioning

                            </p>*@

                        <h3 class="text-white fs-5">Immune System</h3>
                        <p class="fs-6 text-white">
                            Reduced immunity and increased susceptibility to infections partly due to not sleeping or eating properly.
                            Malnutrition and rapid weight loss due to suppressed appetite.

                        </p>

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/GetHelp/Symptoms/Mouth.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        @*<h1 class="text-white fs-5" style="margin:20px; margin-top:20px">Mouth</h1>
                            <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                                Smoking cannabis increases the risk of mouth, throat and lip cancer

                            </p>*@

                        <h3 class="text-white fs-5">Mouth</h3>
                        <p class="fs-6 text-white">
                            Cracked teeth and other dental problems from jaw clenching and teeth grinding, dry mouth and poor mouth hygiene
                        </p>

                    </div>
                </div>
            </div>



        </div>
        <br /><br /><br />
    </section>

    @*<section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


            <div class="container d-flex align-items-center justify-content-center flex-wrap">
                <div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Brain.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Brain</h3>
                                <p class="fs-6 text-white">
                                    Decreased concentration and memory loss.
                                    Increased risk of dependence.
                                    Chronic sleeping problems.
                                    Anxiety and depression.
                                    Paranoia or hallucinations.
                                    Decreased motivation and ability to maintain usual activities.
                                    Agitation or aggression.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Lungs.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Lungs</h3>
                                <p class="fs-6 text-white">Smoking can damage the lungs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="body">
                        <div class="imgContainer">

                            <img src="~/IMG/GetHelp/Symptoms/Heart.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Heart</h3>
                                <p class="fs-6 text-white">
                                    High blood pressure and rapid irregular heartbeat.
                                    Increased risk of heart attack and heart failure.
                                    Increased risk of stroke.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
        </section>

        <section>


            <div class="container d-flex align-items-center justify-content-center flex-wrap">
                <div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Immune (1).png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Immune System</h3>
                                <p class="fs-6 text-white">
                                    Reduced immunity and increased susceptibility to infections partly due to not sleeping or eating properly.
                                    Malnutrition and rapid weight loss due to suppressed appetite.

                                </p>
                            </div>
                            <
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="body">
                        <div class="imgContainer">
                            <img src="~/IMG/GetHelp/Symptoms/Mouth.png" />
                        </div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="text-white fs-5">Mouth</h3>
                                <p class="fs-6 text-white">
                                    Cracked teeth and other dental problems from jaw clenching and teeth grinding, dry mouth and poor mouth hygiene
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <br /><br /><br />
        </section>*@

    <section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>These are few relevant articles that can help you out </strong></h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Meth/4.jpg"></a>

                    <h3 class="name"><strong>How many people use crystal methamphetamine?</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        Relatively few Australians report using methamphetamines (including crystal methamphetamine 'ice') compared to other drugs.The effects of methamphetamines (including ice) can however be far reaching, impacting not only those using ice but also families, friends, communities and workplaces.Data from the 2019 National Drug Strategy Household Survey suggests
                        overall rates of methamphetamine use have declined over recent years, but among those who do use methamphetamine, ice is the more popular form of the drug and
                        those who use ice (as opposed to other forms of methamphetamine) are more likely to use it more regularly
                    </p>
                    </br>
                    @*<div id="div1" class="fa"></div>*@

                    <a href="https://cracksintheice.org.au/how-many-people-use-ice" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>

                </div>


                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">


                    <a href="#"><img class="img-fluid" height="250px" width="250px" src="~/IMG/GetHelp/Meth/5.jpg "></a>
                    <h3 class="name"><strong>Crystal meth is resurgent and 'ravaging' regional Australia. Where it's coming from is a mystery</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        The Australian Institute of Criminology says the illicit drug market has bounced back from pandemic shutdowns. There is concern shutting international borders has increased domestic production of crystal meth.Addicts say there is a critical shortage of regional treatment options, particularly for Aboriginal people.Vagn Olsen is noticeably twitchy as he paces around a beach car park, pointing out broken needles in the dirt.He has been filming with the ABC for two hours, so hasn't had his usual first hit of crystal meth for the day.
                        "It is a shit lifestyle being on meth," he said.

                        "You get pimples, you be scratching on your face, marks on your arms, and some people smoke it and get a real bad cough.



                    </p>
                    </br>

                    <a href="https://www.abc.net.au/news/2021-05-16/regional-meth-market-booming-despite-covid-impact-addicts/100098682" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">

                    <a href="#"><img class="img-fluid" src="~/IMG/GetHelp/Meth/6.jpg"></a>
                    <h3 class="name"><strong>Ice and the outback: Meth in rural Australia</strong></h3>
                    <p class="description" style="text-align: left; margin: 30px 12px 0px; text-align: justify;">
                        There has been extensive media and political attention directed towards the issue of ‘ice’ or crystal methamphetamine use in Australia over the past year or two.Some of that attention has focussed on anecdotal reports of high levels of use in rural communities.  Media stories have devoted extensive coverage to purportedly higher levels of use in country towns relative to metropolitan centres.Until now there has been no empirical data to support the speculation that methamphetamine use might be higher and more prolific in rural than metropolitan Australian communities.
                        NCETA however has recently undertaken further secondary analyses of the National Drug Strategy Household Survey data for the years.
                    </p>
                    </br>
                    <a href="http://connections.edu.au/opinion/ice-and-outback-meth-rural-australia" class="card-link" target="_blank" data-bss-hover-animate="swing" style="color:skyblue;">Explore more</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="Cannabis">1</a></li>
            <li><a href="Ecstasy">2</a></li>
            <li><a href="Heroin">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li><a href="Cocaine">5</a></li>
        </ul>
    </div>

    <ul id=menu>
        <a href="Cocaine"><h1>>>></h1></a>
    </ul>

    <ul id=menu2>
        <a href="Heroin"><h1><<<</h1></a>
    </ul>

    <style>
        #menu {
            position: fixed;
            right: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }

        #menu2 {
            position: fixed;
            left: 0;
            top: 50%;
            width: 8em;
            margin-top: -2.5em;
        }
    </style>

    @*<section data-aos="fade-down" data-aos-duration="200" class="article-list" style="margin-top: 50px;">

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 item" style="border: 2px none var(--secondary) ;">
                <div class="card" style="width:350px">
                    <img src="~/IMG/GetHelp/Cannabis/C2.jpeg" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title">Cannabis Addiction Treatment </h3>
                        <p class="card-text">
                            Cannabis users are often considered as happy, laid-back and relaxed but cannabis use can easily become highly addictive and cannabis addiction can lead to serious physical and mental health problems.

                            Are you asking yourself how to stop using cannabis? Are you experiencing cannabis withdrawal symptoms? Are you concerned that a loved one may be suffering from cannabis addiction? Most sufferers cannot stop taking cannabis without treatment for their addiction.
                        </p>

                        <button class="btn btn-success btn-sm">Read More</button>
                    </div>
                </div>
            </div>

        </section>*@

    <script>
        function brakechain() {
            var a;
            a = document.getElementById("div1");
            a.innerHTML = "&#xf0c1;";
            setTimeout(function () {
                a.innerHTML = "&#xf127;";
            }, 1000);
        }
        brakechain();
        setInterval(brakechain, 2000);
    </script>



    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



</body>
</html>

