
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron" style="width: 1198px; height: 540px; text-align: center; background: #FFEE99; background-image: url('../../IMG/cybersecurity42.jpg'); margin-left: 50px; ">
    <br />
    <br />
    <br />

    <br />
    <br />
    <h1 style="font-size: 48px; color: #FFFF99; margin-left: 10px; text-align: center; ">Privacy statement</h1>
    <p style="font-size: 15px; margin-top: 30px; font-weight: normal; color: #FFFF99; margin-left: 10px; text-align: center;">
        Sober Space is maintained by the Monash University Industrial Experience Unit. The Privacy Policy applied to publicly accessible pages in Sober Space will be located in this domain. The content of the health information is provided by the NWS Ministry of Health. The other open datasets are collected through the Australian Institution of Health and Welfare. Both the NWS Ministry of Health and AIHW do not have any responsibility for the privacy policies or practices of third party sites linked to the Sober Space site.
    </p>

    <p style="font-size: 15px; margin-top: 30px; font-weight: normal; color: #FFFF99; margin-left: 10px; text-align: center;">
        Users of theSober Space site are entitled to expect that any information as a result of that use will be treated within the terms of the Victoria states government's privacy responsibilities and obligations (Privacy and Personal Information Protection Act 1988).
    </p>
    <div class="text-center">
        @*<a class="btn btn-primary" role="button" style=" width: 120px; margin-left: 10px; background: #FFD819; border-color: rgba(255,255,255,0); font-size: 14px; color: black;" href="#helpsection">Look for Help</a>*@
    </div>
</div>


<div>
    <div>

        @*<h1 style="margin-top: 100px; width: 540px; text-align: center;color:#FFFAFA;">
            Will this policy be updated over time?
        </h1>*@

        <h1 style="margin-top: 100px; text-align: center;color:#FFFAFA;">
            Will this policy be updated over time?
        </h1>
        @*width: 540px;*@
    <p style=" color: black; text-align: justify; color: #FFFAFA; font-family: Arial, Helvetica, sans-serif; font-size: 18px ">

        <br />Due to the developing nature of privacy principles for online communication, this policy may be modified or expanded in light 
        of new developments or issues that may arise from time to time. The amended policy will be posted to this site and will operate from 
        the time it is posted.  
       
@*<p style="color: #FFFAFA; font-size: 20px">Please call 000!</p>*@



    </div>


