
@{
    ViewBag.Title = "Fact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/Services/Services-index.css" rel="stylesheet" />







</head>

<body>
    <div style="text-align: center;">
        <img src="~/IMG/Fact/Fact1.jpg" class="img-fluid" />
    </div>
    <br />
    <br />
    <br />

    <div class="container">
        <div>
            <h1 class="text-center" style="font-size: 38px;"><b>Do You Know?</b></h1>
        </div>
    </div>

    <br />
    <br />


    @*<div style="width:70%; margin:auto">
            <div class="card mb-3 border-0 shadow-none">
                <img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">CONCERNS</h1>
                    <h5 class="card-text">
                        People with drug problems often have gotten in with the wrong crowd—and they don’t want to turn
                        away from these so-called friends for fear of being alone. So, as a friend, please walk one step forward to them,
                        ask them how are you doing. Telling your friend that you’re concerned can be a big help.Though your friend may be
                        bothered by their situation but be patient and listen to them, you can gradually open their mind. The following
                        drill will help you out in understanding how to approach your friend.
                    </h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>


        <div style="width:70%; margin:auto">
            <div class="card mb-3 border-info shadow-none">
                <img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">CONCERNS</h1>
                    <h5 class="card-text">
                        People with drug problems often have gotten in with the wrong crowd—and they don’t want to turn
                        away from these so-called friends for fear of being alone. So, as a friend, please walk one step forward to them,
                        ask them how are you doing. Telling your friend that you’re concerned can be a big help.Though your friend may be
                        bothered by their situation but be patient and listen to them, you can gradually open their mind. The following
                        drill will help you out in understanding how to approach your friend.
                    </h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div style="width:70%; margin:auto">
            <div class="card mb-3 border-info shadow-none">
                <img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">CONCERNS</h1>
                    <h5 class="card-text">
                        People with drug problems often have gotten in with the wrong crowd—and they don’t want to turn
                        away from these so-called friends for fear of being alone. So, as a friend, please walk one step forward to them,
                        ask them how are you doing. Telling your friend that you’re concerned can be a big help.Though your friend may be
                        bothered by their situation but be patient and listen to them, you can gradually open their mind. The following
                        drill will help you out in understanding how to approach your friend.
                    </h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>*@

    <div style="width:70%; margin:auto">
        <div class="card mb-3 border-0 shadow-none">
            @*<img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h1 class="card-title">CONCERNS</h1>
                <p class="card-text">
                    We are all concerned for our beloved one, but sometimes it’s hard to tell when ending a day of tiredness from work and stress.
                    Younger adults (18-25) consistently reported lower levels of wellbeing, with personal finance issues, health issues and family issues the top stressors across all age groups.
                </p>
                <p></p>
                <p class="card-text">
                    Pressure to maintain a healthy lifestyle clocked in as the fourth most common cause of stress. The majority of Australians feel that stress impacts their physical health (72%)
                    and mental health (64%) but very few reported seeking professional help.More than one in 10 Australians (12%) reported keeping up with social media networks contributed to their overall levels of stress.

                </p>
                <p></p>
                <p class="card-text">
                    Then the higher possibility they turn into struggles and higher possibility to turn into illicit drug use.
                </p>
                <p class="card-text">
                    However, the survey outcome showed that in different age groups, people tend to seek for some sense of excitement, experience, and mood improving. Most of the reasons are based on the mental related situations.

                </p>
                <p></p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />


    <div class="r border-info shadow-none">
        <div style="text-align:center">
            <iframe height="800" width="70%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_2_age_group_illicit/"> </iframe>
        </div>
    </div>


    <br />
    <br />


    <div style="width:70%; margin:auto">
        <div class="card mb-3 border-0 shadow-none">
            @*<img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h1 class="card-title">USE OF ILLICIT DRUGS</h1>
                <p class="card-text">
                    Luckly, there isn't a very significant increment in the use of all illicit drugs. Still, the total usage still held a part of in different states. Overall, cannabis is by far the most popular drug for young people in Australia.
                    @*</h4>
                        <p></p>
                        <h4 class="card-text">
                            Pressure to maintain a healthy lifestyle clocked in as the fourth most common cause of stress. The majority of Australians feel that stress impacts their physical health (72%)
                            and mental health (64%) but very few reported seeking professional help.More than one in 10 Australians (12%) reported keeping up with social media networks contributed to their overall levels of stress.

                        </h4>
                        <p></p>
                        <h4 class="card-text">
                            Then the higher possibility they turn into struggles and higher possibility to turn into illicit drug use.
                        </h4>
                        <h4 class="card-text">
                            However, the survey outcome showed that in different age groups, people tend to seek for some sense of excitement, experience, and mood improving. Most of the reasons are based on the mental related situations.

                        </h4>*@
                <p></p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
            </div>
        </div>
    </div>

    <br />

    <div class="r border-0 shadow-none">
        <div style="text-align:center">
            <iframe height="800" width="70%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_Fact_1/"> </iframe>
        </div>
    </div>


    <br />
    <br />

    @*<div style="text-align:center">
            <iframe height="1000" width="50%" frameborder="0" src="~/Heroin.html"> </iframe>
        </div>*@
    <div style="width:70%; margin:auto">
        <div class="card mb-3 border-0 shadow-none">
            @*<img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h1 class="card-title">LOOK DEEPER</h1>
                <p class="card-text">
                    · What if they went on a deeper level?
                </p>
                <p></p>
                <p class="card-text">
                    · People with addiction may be afraid of the following treatment.
                </p>
                <p></p>
                <p class="card-text">
                    · Will they be locked in solitary?　
                </p>
                <p></p>
                <p class="card-text">
                    · What are the types of treatment will do to different age groups?
                </p>
                <p></p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@

                <p class="card-text">
                    Private, or non-governmental programs primarily provided abstinence-based treatment in a variety of settings. Some for-profit programs,
                    funded by insurance, provided three to four weeks inpatient care, usually with outpatient follow-up. Not-for-profit programs provided
                    residential treatment in a therapeutic community over a period of 6 months to 2 years. Still others (both profit and not-for-profit)
                    provided methadone treatment or outpatient treatment.

                    What if we sought more professional help?
                </p>
                <br />
                <div class="text-center">
                    <h4>Visit the Rehab page to find more information.</h4>
                    <div>
                        <button class="btn btn-dark"><a href="/Rehab/Location">Click here</a></button>
                    </div>
                    <br />
                    <br />

                    <h2>Addiction Treatment Method</h2>
                    <p class="card-text"><small class="text-muted">AIHW collected in 2019</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="r border-0 shadow-none">
        <div class="border-0" style="text-align:center">
            <iframe height="500" width="100%" src="~/Adition1.html"> </iframe>
        </div>
    </div>

    <br />
    <br />

    <div style="width:70%; margin:auto">
        <div class="card mb-3 border-0 shadow-none">
            @*<img src="~/IMG/Fact/x1578506710527.jpg.pagespeed.ic.rCIK2hNcKU.jpg" style="height:600px;" class="card-img-top" alt="...">*@
            <div class="card-body">
                <h1 class="card-title">WHAT TO DO NEXT</h1>
                <p class="card-text">
                    Through our Explore page, you can get more relevant information and learn more about the harm of various drugs to physical and mental health.
                </p>
                <p><button class="btn btn-dark"><a href="/GetHelp/GetHelp">Explore</a></button></p>
                @*<p><a href="/GetHelp/GetHelp"> <u>Explore&raquo;</u></a> </p>*@
                <p class="card-text">
                    The mental and pressure is based on the influence from our daily lives. We may feel struggle and frustration during work or study.
                </p>
                <p></p>
                <p class="card-text">
                    Use our Quiz page</a> tool to explore and learn more about what we should be more aware of!
                <p><button class="btn btn-dark"><a href="~/Quiz/Second.aspx">Quiz</a></button></p>
                </p>
            </div>
        </div>
    </div>

    <br />
    <br />

</body>
</html>

<style>
    p {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
</style>

