
@{
    ViewBag.Title = "Resource2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/Services/Services-index.css" rel="stylesheet" />







</head>

<body>
    <div style="text-align: center;">
        <img src="~/IMG/Fact/Fact2.png" class="img-fluid" />
    </div>
    <br />
    <br />
    <br />

    <div class="container">
        <div>
            <h1 class="text-center" style="font-size: 38px;"><b>Do You Know?</b></h1>
        </div>
    </div>

    <br />
    <br />
    <div class=" border shadow-lg">
        <div style="text-align:center">
            <iframe height="800" width="80%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_2_age_group_illicit/"> </iframe>

        </div>
    </div>
    <!--<div style="text-align:center">
        <iframe height="800" width="50%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_2_age_group_illicit/"> </iframe>

    </div>

    <br />
    <br />-->
    @*<div style="text-align:center">
            <iframe height="1000" width="50%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_3_Treatment/"> </iframe>

        </div>

        <br />
        <br />

        <div style="text-align:center">
            <iframe height="1000" width="50%" frameborder="no" src="https://ckuo0004.shinyapps.io/Shiny_3_Treatment/"> </iframe>

        </div>*@

</body>
</html>

