
@{
    ViewBag.Title = "Index4";
}

<div style="text-align: center">
    <h1 style="font-size: 48px; color: #FFD819; margin-left: 10px; text-align: center; ">Maybe you can try other sayings...</h1>
    <br />


    <a href="Index2">
        <img id="img" src="~/IMG/S6.jpg" height="629" width="80%" alt="display error" align="middle" />
    </a>
    <p>  </p>

    <table style="width: 80%;margin:auto">
        <tr>
            <td align="left">
                <p><a href="Index2" class="btn btn-primary btn-lg">&laquo; Back </a></p>
            </td>

            <td align="right">
                <p><a href="Index2" class="btn btn-primary btn-lg">Reselect &raquo;</a></p>
            </td>
        </tr>
    </table>
    @*<p><a href="Index2" class="btn btn-primary btn-lg">Reselect &raquo;</a></p>*@
</div>

<style type="text/css">
    #img {
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        /*Consider browser compatibility*/
        -moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        cursor: pointer;
        transition: all 0.6s;
        border-radius: 10px;
    }

        #img:hover {
            transform: scale(1.02);
        }
</style>

