
@{
    ViewBag.Title = "Index11";
}

<div style="text-align: center">
    <h1 style="font-size: 48px; color: #FFD819; margin-left: 10px; text-align: center; ">Last but not least</h1>
    <br />

    <a href="Index">
        <img id="img" src="~/IMG/S17.jpg" height="629" width="80%" alt="display error" align="middle" />
    </a>


    <p>  </p>

    <p style="margin-right:900px"><a href="Index" class="btn btn-primary btn-lg">&laquo; Back</a></p>

    @*<h1 style="font-size: 48px; color: #FFD819; margin-left: 10px; text-align: center; ">Last but not least </h1>*@


</div>

<style type="text/css">
    #img {
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        /*Consider browser compatibility*/
        -moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        cursor: pointer;
        transition: all 0.6s;
        border-radius: 10px;
    }

        #img:hover {
            transform: scale(1.02);
        }
</style>
