
@{
    ViewBag.Title = "Index12";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">

    <a href="Index2">
        <img id="img" src="~/IMG/S2.jpg" height="629" width="80%" alt="display error" align="middle" />
    </a>


    <p>  </p>

    @*<p style="margin-right:890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
        <p style="margin-right:-890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>*@

    <table style="width: 80%;margin:auto">
        <tr>
            <td align="left">
                <p><a href="Index" class="btn btn-primary btn-lg">&laquo; Back </a></p>
            </td>

            <td align="right">
                <p><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
            </td>
        </tr>
    </table>

    <br />
    <br />


</div>

<style type="text/css">
    #img {
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        /*Consider browser compatibility*/
        -moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        cursor: pointer;
        transition: all 0.6s;
        border-radius: 10px;
    }

        #img:hover {
            transform: scale(1.02);
        }
</style>

