*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



li {
    list-style: none;
}

input,
button,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

input[type=button],
button {
    cursor: pointer;
}

.section-wrap {
    padding: 3%;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
}


.slider-wrap {
    width: 100%;
    height: 300px;
    background: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slider-wrap .slider {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

    .slider-wrap .slider .index {
        width: 50px;
        height: 100%;
        color: #fff;
        font-weight: bold;
        border: 1px solid #333741;
        background: #333741;
        border-radius: 25px;
    }

.slider-wrap .slider .index span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

    .slider-wrap .slider .img {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333741;
        font-weight: bold;
        width: calc(100% - 50px);
        border-radius: 25px;
        background: #fef9f6;
        transition: width 0.7s;
    }

.slider-wrap .slider.current {
    width: 100%;
}

.slider-wrap .slider.current .img {
    width: calc(100% - 50px);
}