<!-- ======= ======= -->
<!-- ======= Home Page ======= -->
<!-- ======= ======= -->


@{
    ViewBag.Title = "Home";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/css/Feature-box.css" rel="stylesheet" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">




    <!-- Template Main CSS File -->
    <link href="~/Content/New_BootstrapFiles/assets/css/style.css" rel="stylesheet">
    @*<link href="~/Content/New_BootstrapFiles/Slider.css" rel="stylesheet" />*@
    <link href="~/Content/New_BootstrapFiles/Accord.css" rel="stylesheet" />
    <link href="~/Content/css/new-slider.css" rel="stylesheet" />

    <style>
        .body, html {
            overflow-x: hidden;
        }
    </style>


</head>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="margin-top:0px">
        <div class="container text-center text-md-left" data-aos="fade-up">
            <h2 style="text-align:center;">
                @*"Reach your hand, seize yourselve, start with a simple click."*@
                "REACH YOUR HAND, SEIZE YOURSELF, START WITH  A  SIMPLE CLICK."
            </h2>

            <a href="#about">
                <div class="arrow-demo" style="margin-left: 420px;">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </div>
        </a>
    </section>
    <!-- End of Hero -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="~/IMG/Home/WIA.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3 style="color:white;">What is addiction?</h3>
                    <br />
                    <br />
                    <p style="color: white; text-align: justify;">
                        Addiction is unusual hobby and habit that people have for certain things. This hobby and habit creates a sense of excitement or pleasure by stimulating the reward system in your brain. It will keep on triggering an individual’s uncontrollable repeated desire to abuse a certain substance or sometimes although you know that doing so will bring you or has brought various bad consequences to yourself, it is still uncontrollable.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Our Services Section ======= -->

    <section id="pagesection" class="features-boxed" style="background-color: ghostwhite;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 38px;"><b>What We Offer?</b></h2>
            </div>

            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="~/IMG/Home/icons8-magnifying-glass-50.png" />
                        <h3 class="name">Explore</h3>
                        <p class="description">Explore features the information and help for different kinds of drugs.</p>
                        <a class="learn-more" href="/GetHelp/GetHelp" style="color: #41ceff">More info»</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="/IMG/Home/icons8-computer-50.png" />
                        <h3 class="name">Facts</h3>
                        <p class="description">Facts provides the visual data representation of drugs.</p>
                        <a class="learn-more" href="/Facts/Resource" style="color: #41ceff">More info»</a>
                    </div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="~/IMG/Home/icons8-location-50.png" />
                        <h3 class="name">Rehab</h3>
                        <p class="description">Rehab provides information about near by rehab centres.</p>
                        <a class="learn-more" href="/Rehab/Location" style="color: #41ceff">More info»</a>
                    </div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="~/IMG/Home/icons8-services-50.png" />
                        <h3 class="name">Services</h3>
                        <p class="description">Services provides information on "How to approach a person" in need.</p>
                        <a class="learn-more" href="/Services/Index" style="color: #41ceff">More info»</a>
                    </div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="~/IMG/Home/icons8-quiz-50.png" />
                        <h3 class="name">Quiz</h3>
                        <p class="description">Quiz provides insight of mental health and general suggestion.</p>
                        <a class="learn-more" href="~/Quiz/Second.aspx" style="color: #41ceff">More info»</a>
                    </div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box" style=" background-color: ghostwhite;">
                        <img src="~/IMG/Home/icons8-musical-notes-50.png" />
                        <h3 class="name">Relax</h3>
                        <p class="description">Relax provides soothing music and meaningful podcast.</p>
                        <a class="learn-more" href="/Relax/Relax" style="color: #41ceff">More info»</a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- End of Our Services -->
    @*<section>
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">F.A.Q</h2>
                </div>

            <div class="container">
                <div class="accordian">
                    <div class="accordian-item" id="question1">
                        <a href="#question1">
                            How often do you go to beach?
                            <i class="icon ion-md-add"></i>
                            <i class="icon ion-md-remove"></i>
                        </a>
                        <div class="answer">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".
                            </p>

                        </div>

                    </div>

                    <div class="accordian-item" id="question2">
                        <a href="#question2">
                            How often do you go shopping?
                            <i class="icon ion-md-add"></i>
                            <i class="icon ion-md-remove"></i>
                        </a>
                        <div class="answer">

                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".
                            </p>
                        </div>

                    </div>

                    <div class="accordian-item" id="question3">
                        <a href="#question3">
                            How often do you score?
                            <i class="icon ion-md-add"></i>
                            <i class="icon ion-md-remove"></i>
                        </a>
                        <div class="answer">

                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".
                            </p>
                        </div>

                    </div>

                    <div class="accordian-item" id="question4">
                        <a href="#question4">
                            How often do you help nithin?
                            <i class="icon ion-md-add"></i>
                            <i class="icon ion-md-remove"></i>
                        </a>
                        <div class="answer">

                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </section>*@

    @*---------------------------------- Do You know section ----------------------------------------------------------------*@
    <br />
    <br />

        <div class="intro">
            <h2 class="text-center" style="font-size: 38px;"><b>Do you know</b></h2>
        </div>
        <section>
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <h2></h2>
                                    <p></p>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <h2></h2>
                                    <p></p>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <h2></h2>
                                    <p></p>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <h2></h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>
        </section>

        <!-- Vendor JS Files -->
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.min.js"></script>
        <script src="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.js"></script>

        <!--  Main JS File -->
        <script src="~/Content/BootstrapFiles/HomePage/assets/js/main.js"></script>

</body>

</html>