@{
    ViewBag.Title = "Home Page";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css" />
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Content/assets/fonts/fontawesome-all.min.css">

    <link href="~/Content/assets/css/Features-Boxed.css" rel="stylesheet" />
</head>

<body style="background: #495057">


    <div class="jumbotron" style="width: 1198px; height:540px; background: #FFEE99; background-image:url('../../IMG/Img.jpg') ; margin-left:-24px;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 style="font-size: 48px; color: ghostwhite; margin-left: 10px; text-align: center; ">What is addiction?</h1>
        <p style="font-size: 15px; margin-top: 30px; font-weight: normal; color: white; margin-left: 10px; text-align: center; ">
            Addiction is an extraordinary hobby and habit that people have for certain things. This hobby and habit creates a sense of excitement or pleasure by stimulating the reward system in your brain. It will keep on triggering an individual’s uncontrollable repeated desire to abuse a certain substance or sometimes although you know that doing so will bring you or has brought various bad consequences to yourself, it is still uncontrollable.
        </p>
        <div class="text-center">
            <a class="btn btn-primary" role="button" style=" width: 120px; margin-left: 10px; background:#FFE97F;border-color: rgba(255,255,255,0); font-size: 14px; color:black;" href="#pagesection">Our services</a>

        </div>
    </div>

</body>
<br />

<section id="pagesection" class="features-boxed" style="background: #495057 ">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: ghostwhite">What We Offer?</h2>
        </div>

        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="shadow box" style=" background-color: #FFEE99;">
                    <h3 class="name">Get Help</h3>
                    <p class="description">Get Help features the information and help for different kinds of drugs.</p>
                    <a class="learn-more" href="/GetHelp/GetHelp" style="color: #41ceff">Get Help»</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="shadow box" style=" background-color: #FFEE99;">
                    <h3 class="name">Resources</h3>
                    <p class="description">Resources provides information on "How to approach a person" in need.</p>
                    <a class="learn-more" href="/Resources/Index" style="color: #41ceff">Resources»</a>
                </div>
            </div>


            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="shadow box" style=" background-color: #FFEE99;">
                    <h3 class="name">Rehab</h3>
                    <p class="description">Rehab features to display the drug rehab locations. </p>
                    <a class="learn-more" href="#" style="color: #41ceff">Coming Soon»</a>
                </div>
            </div>



            <div class="col-sm-6 col-md-5 col-lg-4 item"></div>
        </div>
    </div>
</section>


