<!-- ======= ======= -->
<!-- ======= Home Page ======= -->
<!-- ======= ======= -->
<!--@{
    ViewBag.Title = "Home";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">-->
<!-- Google Fonts -->
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->
<!-- Vendor CSS Files -->
<!--<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">-->
<!-- Main CSS File -->
<!--<link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/css/Feature-box.css" rel="stylesheet" />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />

    <style>


        .body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .marker {
            background-image: url('../../IMG/mapbox-icon.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }

    </style>


</head>

<body>

    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmlraXRoYS12YW51bXUiLCJhIjoiY2tndGF3NmNrMGR4NzMycTEyNTdjMWZhZyJ9.mKdq8bfa3lZdkGaaF6pbYQ';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [145.133957, -37.907803], // starting position [lng, lat]
            zoom: 10 // starting zoom
        });
        //var marker = new mapboxgl.Marker()
        //    .setLngLat([145.133957, -37.907803])// Clayton Location
        //    .addTo(map);
        //var marker1 = new mapboxgl.Marker()
        //    .setLngLat([145.046867, -37.879296])// Caufiled Location
        //    .addTo(map);

        //map.addControl(
        //    new MapboxDirections({
        //        accessToken: mapboxgl.accessToken
        //    }),
        //    'top-left'
        //);

        //map.addControl(new mapboxgl.FullscreenControl());
        const geojson = {
            type: 'FeatureCollection',
            features: [
                {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [145.133957, -37.907803]
                    },
                    properties: {
                        title: 'Mapbox',
                        description: 'Clayton Monash'
                    }
                },
                {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: ([145.046867, -37.879296])
                    },
                    properties: {
                        title: 'Mapbox',
                        description: 'Caufiled Monash'
                    }
                }
            ]
        };

        // add markers to map
        for (const { geometry, properties } of geojson.features) {
            // create a HTML element for each feature
            const el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el).setLngLat(geometry.coordinates).addTo(map);
        }

        new mapboxgl.Marker(el)
            .setLngLat(geometry.coordinates)
            .setPopup(
                new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML(`<h3>${properties.title}</h3><p>${properties.description}</p>`)
            )
            .addTo(map);


    </script>-->
<!-- End of Our Services -->
<!-- Vendor JS Files -->
<!--<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/php-email-form/validate.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.min.js"></script>
<script src="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.js"></script>-->
<!--  Main JS File -->
<!--<script src="~/Content/BootstrapFiles/HomePage/assets/js/main.js"></script>

</body>

</html>-->
@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Demo: Add custom markers in Mapbox GL JS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans"
              rel="stylesheet" />
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
              rel="stylesheet" />
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            #map {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }

            .marker {
                /*            background-image: url('../../IMG/mapbox-icon.png');*/
                background-image: url('../../IMG/Rehab/icons8-location-24.png');
    /**/            /*background-image: url('../../IMG/Rehab/pin.png');*/
                background-size: cover;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                cursor: pointer;
            }

            .mapboxgl-popup {
                max-width: 200px;
            }

            .mapboxgl-popup-content {
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibmlraXRoYS12YW51bXUiLCJhIjoiY2tndGF3NmNrMGR4NzMycTEyNTdjMWZhZyJ9.mKdq8bfa3lZdkGaaF6pbYQ';

            const geojson = {
                'type': 'FeatureCollection',
                'features': [
                    {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [145.133957, -37.907803]
                        },
                        'properties': {
                            'title': 'Mapbox',
                            'description': 'Washington, D.C.'
                        }
                    },
                    {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [145.046867, -37.879296]
                        },
                        'properties': {
                            'title': 'Mapbox',
                            'description': 'San Francisco, California'
                        }
                    }
                ]
            };

            const map = new mapboxgl.Map({
                container: 'map',
                //style: 'mapbox://styles/mapbox/light-v10',
                style: 'mapbox://styles/mapbox/streets-v11', // style URL

                center: [145.133957, -37.907803],
                zoom: 10
            });

            // add markers to map
            for (const { geometry, properties } of geojson.features) {
                // create a HTML element for each feature
                const el = document.createElement('div');
                el.className = 'marker';

                // make a marker for each feature and add it to the map
                new mapboxgl.Marker(el)
                    .setLngLat(geometry.coordinates)
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }) // add popups
                            .setHTML(
                                `<h3>${properties.title}</h3><p>${properties.description}</p>`
                            )
                    )
                    .addTo(map);
            }
        </script>
    </body>
    </html>*@


-@{
    ViewBag.Title = "Home";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Demo: Add custom markers in Mapbox GL JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
          rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            max-height: 700px;
        }

        .marker {
            /*            background-image: url('../../IMG/mapbox-icon.png');*/
            background-image: url('../../IMG/Rehab/icons8-location-24.png');
            /*/            /*background-image: url('../../IMG/Rehab/pin.png');*/
            background-size: cover;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <img class="img-fluid" src="~/IMG/Rehab/rehab.jpg" style="margin-right: 7px; ">
    </div>
    @*<br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br /><br />*@

    <div id="map"></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2xhc3N5c2t5IiwiYSI6ImNrZnY4NHAxNDBxcjczMHA5YTU2em5oenEifQ.vciO71S__AmxvkOZL_TM5A';

        const geojson = {
            'type': 'FeatureCollection',
            'features': [
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.9777113, -37.8443767]
                    },
                    'properties': {
                        'title': 'Seasons Bali Drug Rehab',
                        'description': 'Suite 4, 20 Commercial Road, Melbourne 3004 '
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [145.0437682, -37.8918238]
                    },
                    'properties': {
                        'title': 'Self Help Addiction Resource Centre',
                        'description': '140 Grange Road, Carnegie 3163'
                    }
                },
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [145.0346851, -37.8230011]
                    },
                    'properties': {
                        'title': 'Access Health and Community - Hawthorn',
                        'description': '378 Burwood Road, Hawthorn 3122'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.985231, -37.7164881]
                    },
                    'properties': {
                        'title': 'UNITINGCARE REGEN',
                        'description': '26 Jessie Street, Coburg 3058'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [145.2104703, -37.9848958]
                    },
                    'properties': {
                        'title': 'Monash Health Youth Drug and Alcohol Service',
                        'description': '1Level 1 Suite 1A, 314-326 Thomas Street, Dandenong 3175'
                    }
                },
                //----------------------------------------------------------------------------------------------------------------------------

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.8967801, -37.8038953]
                    },
                    'properties': {
                        'title': 'Cohealth - Footscray - Nicholson Street',
                        'description': '215 Nicholson Street, Footscray 3011'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.9594253, -37.8177337]
                    },
                    'properties': {
                        'title': 'Al-Anon Family Groups - Victorian Southern Area',
                        'description': 'Level 7 Suite 2, 43-51 Queen Street, Melbourne 3000'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.8939529, -37.8035716]
                    },
                    'properties': {
                        'title': 'The Salvation Army',
                        'description': 'James Barker House Aged Care Centre, 64 BUCKLEY STREET, Footscray 3011'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [145.1221822, -38.1429808]
                    },
                    'properties': {
                        'title': 'Stepping Up - Frankston-Mornington Peninsula',
                        'description': '9c Station Street, Frankston 3199'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.9840801, -37.8595258]
                    },
                    'properties': {
                        'title': 'Winja Ulupna Womens Recovery Centre',
                        'description': '14 Charnwood Crescent, St Kilda 3182'
                    }
                },

                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [144.92973593256, -37.7772525454575]
                    },
                    'properties': {
                        'title': 'Elysium Group',
                        'description': '412 Mt Alexander Road, Ascot Vale 3032'
                    }
                }

            ]
        };

        const map = new mapboxgl.Map({
            container: 'map',
            //style: 'mapbox://styles/mapbox/light-v10',
            style: 'mapbox://styles/mapbox/streets-v11', // style URL

            center: [145.133957, -37.907803],
            zoom: 8
        });

        // add markers to map
        for (const { geometry, properties } of geojson.features) {
            // create a HTML element for each feature
            const el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add it to the map
            new mapboxgl.Marker(el)
                .setLngLat(geometry.coordinates)
                .setPopup(
                    new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML(
                            `<h3>${properties.title}</h3><p>${properties.description}</p>`
                        )
                )
                .addTo(map);
        }


    </script>
</body>
</html>
