
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="width: 1198px; height: 540px; text-align: center; background: #FFEE99; background-image: url('../../IMG/iStock-1221293664-1.jpg'); margin-left: 50px; ">
    <br />
    <br />
    <br />

    <br />
    <br />
    @*<h1 style="font-size: 48px; color: #FFFF99; margin-left: 10px; text-align: center; ">Privacy statement</h1>
        <p style="font-size: 15px; margin-top: 30px; font-weight: normal; color: #FFFF99; margin-left: 10px; text-align: center;">
            Sober Space is maintained by the Monash University Industrial Experience Unit. The Privacy Policy applied to publicly accessible pages in Sober Space will be located in this domain. The content of the health information is provided by the NWS Ministry of Health. The other open datasets are collected through the Australian Institution of Health and Welfare. Both the NWS Ministry of Health and AIHW do not have any responsibility for the privacy policies or practices of third party sites linked to the Sober Space site.
        </p>

        <p style="font-size: 15px; margin-top: 30px; font-weight: normal; color: #FFFF99; margin-left: 10px; text-align: center;">
            Users of theSober Space site are entitled to expect that any information as a result of that use will be treated within the terms of the Victoria states government's privacy responsibilities and obligations (Privacy and Personal Information Protection Act 1988).
        </p>*@
    <div class="text-center">
        @*<a class="btn btn-primary" role="button" style=" width: 120px; margin-left: 10px; background: #FFD819; border-color: rgba(255,255,255,0); font-size: 14px; color: black;" href="#helpsection">Look for Help</a>*@
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <iframe height="1000" width="90%" frameborder="no" src="http://127.0.0.1:4462/"> </iframe>

</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div style="text-align:center">
    <iframe height="450" width="90%" frameborder="no" src="https://nikitaahans.shinyapps.io/Final_csv_files/"> </iframe>

</div>



