
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/Services/Services-index.css" rel="stylesheet" />







</head>

<body>
    <br />
   


    <div style="text-align: center">
        <img class="img-fluid" src="~/IMG/Services/cover.png" >
    </div>
    </br>

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 " style="font-size: 38px;">Our Services</h1>
                <p class="lead" style="text-align:justify;">
                    People with drug problems often have gotten in with the wrong crowd—and they don’t want to turn
                    away from these so-called friends for fear of being alone. So, as a friend, please walk one step forward to them,
                    ask them how are you doing. Telling your friend that you’re concerned can be a big help.Though your friend may be
                    bothered by their situation but be patient and listen to them, you can gradually open their mind. The following
                    drill will help you out in understanding how to approach your friend.  
                </p>

            </div>
            <div class="col-lg-4 offset-lg-1 p-0 ">
                <img src="~/IMG/Services/250.jpg" alt="" class="img-fluid" />

            </div>
        </div>
    </div>

    <br />
    <br />
    <br>
    <br>
    <div style="text-align: center">
        <h1 style="font-size: 48px; color: #FFD819; margin-left: 10px; text-align: center; ">How to chat?</h1>
        <br>
        <br>
        <a href="Index12">
            <img id="img" src="~/IMG/Services/friend.jpg" align="middle" alt="" style="display:inline-block; margin-right:50px; width:20%" />
        </a>

        <a href="SecondIndex">
            <img id="img" src="~/IMG/Services/family.jpg" align="middle" alt="" style="display: inline-block; margin-left:50px; width: 20% " />
        </a>

        <br />
        <br />
        @*<p><a href="Index12" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp; Start &raquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></p>*@
        @*<p><a href="Index12" class="btn btn-primary btn-lg">Start &raquo;</a></p>*@

    </div>


</body>
</html>
