
@{
    ViewBag.Title = "SecondIndex2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/Services/Services-index.css" rel="stylesheet" />
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

</head>

<body>
    <br />
    <br />

    <br />
    <br />

    <div style="text-align: center">

        <a href="SecondIndex2">
            <img id="img" src="~/IMG/Services/Second3.jpg" height="620" width="1020" align="middle" alt="" />
        </a>
    </div>


    @*<p style="margin-right:890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
        <p style="margin-right:-890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>*@

    <br />
    <br />

    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/CG_paper_test.png" width="300px" height="300px" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Cigarette wrapping papers</h2>
                        <p class="fs-6 text-white" style="text-align: center; margin: 20px">
                            A wrapping paper package left on the floor...
                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/lighter.jpg" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Lighters</h2>
                        <p class="fs-6 text-white" style="text-align: center; margin: 20px">
                            I know Alex doesn't smoke, so why does he have such tools?
                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/Bong.png" width="300px" height="300px" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Bong</h2>
                        <p class="fs-6 text-white" style="text-align: center; margin: 20px">
                            It was hidden under the bed, and seemed just used.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <br /><br /><br />
    </section>

    <br />

    <table style="width: 50%; margin:auto">
        <tr>
            <td align="left">
                <p><a href="SecondIndex3" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&laquo; Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></p>
            </td>

            <td align="right">
                <p><a href="SecondIndex4" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
            </td>
        </tr>
    </table>

</body>
</html>

