
@{
    ViewBag.Title = "SecondIndex3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/BootstrapFiles/HomePage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/BootstrapFiles/Services/Services-index.css" rel="stylesheet" />
    <link href="~/Content/css/Gethelp.css" rel="stylesheet" />

</head>

<body>
    <br />
    <br />

    <br />
    <br />

    <div style="text-align: center">

        <a href="SecondIndex2">
            <img id="img" src="~/IMG/Services/Second2.jpg" height="620" width="1020" align="middle" alt="" />
        </a>
    </div>


    @*<p style="margin-right:890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
        <p style="margin-right:-890px"><a href="Index2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>*@

    <br />
    <br />

    <section id="symptomssection" data-aos="fade-down" data-aos-duration="200" class="article-list">


        <div class="container d-flex align-items-center justify-content-center flex-wrap">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/Eat_Pic.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Constantly eating (Food pics)</h2>
                        <p class="fs-6 text-white" style="text-align: center; margin: 20px">
                            THC (Tetrahydrocannabinol) in cannabis which would mimic the nerve signal that kept you feeling hungry.

                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/Bruise.jpg" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Some bruise due to bumping</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            People tend to feel bad balance and lack of coordination, thus easily get injured.
                        </p>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/IMG/Services/Moody.png" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-white fs-5" style="margin:20px; margin-top:40px">Moody</h2>
                        <p class="fs-6 text-white" style="text-align: left; margin: 20px">
                            Cannabis may be one of the causes of developing a mental illness, but it isn’t be the
                            only cause for many people. But under such conditions people may encounter some obstacles and pressure during their daily lives.

                        </p>
                    </div>
                </div>
            </div>

        </div>
        <br /><br /><br />
    </section>

    <br />

    <table style="width: 50%; margin:auto">
        <tr>
            <td align="left">
                <p><a href="SecondIndex" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&laquo; Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></p>
            </td>

            <td align="right">
                <p><a href="SecondIndex2" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
            </td>
        </tr>
    </table>

</body>
</html>


